#container-upmenu {
    background-color: #1C1D1A;
    width: 100vw;
    height: 70px;
}



#container-upmenu-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}