* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}


body {
    background-color: #e6e6e6;
    overflow-x: hidden;

}



#container-profile {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 5px solid #333;
}

.img_foto {
    width: 45vw;
    border-radius: 40px;
}

#container-profile-img {
    padding: 70px;
}

.text1 {
    font-size: 60px;
    text-decoration: #0D99FF underline solid 4px;
    letter-spacing: 15px;
    padding: 70px 70px 0px 70px;

}

.text2 {
    font-size: 30px;
    letter-spacing: 2.5px;
    padding: 70px 70px 0px 70px;

}

.text4 {
    padding: 70px 70px 0px 70px;
    color: #0D99FF;
}

#container-profile-text-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-aboutme-text {
    color: #ffffff;
    padding: 50px;
    background-color: #a9a9a8;
    border-radius: 24px;
    margin: 2vh;
    width: 50%;
}