* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}


body {
    background-color: #e6e6e6;
    overflow-x: hidden;

}

.text1 {
    font-size: 60px;
    text-decoration: #0D99FF underline solid 4px;
    letter-spacing: 10px;
    padding: 70px 70px 0px 70px;

}